{% extends 'base.html.twig' %}

{% block title %}
    Добавить задачу / Задачи
{% endblock %}

{% block body %}
    <h1>Добавить задачу</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.title, 'Название задачи') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description, 'Постановка задачи') }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.template, 'Начало задачи') }}
        {{ form_errors(form.template) }}
        <div>
            <kbd>&lt;?php</kbd>
            {{ form_widget(form.template) }}
            <kbd>?&gt;</kbd>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.test, 'Тесты') }}
        {{ form_errors(form.test) }}
        <div>
            <kbd>&lt;?php</kbd><br/>
            <kbd>declare(strict_types=1);</kbd><br/><br/>
            <kbd>use PHPUnit\Framework\TestCase;</kbd><br/><br/>
            <kbd>class TaskTest extends TestCase</kbd><br/>
            <kbd>{</kbd><br/>
            {{ form_widget(form.test) }}
            <kbd>}</kbd>
        </div>

    </div>

    {{ form_end(form) }}
{% endblock %}