{% extends 'base.html.twig' %}

{% block title %}
    {{ task.title|striptags }} / Задачи
{% endblock %}


{% block body %}
    <h1>{{ task.title }}</h1>
    <p class="lead">{{ task.description|raw }}</p>

    {{ form_start(form) }}

    {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.solve, 'Ваше решение') }}
            <div>
                <kbd>&lt;?php</kbd>
                {{ form_widget(form.solve) }}
                <kbd>?&gt;</kbd>
            </div>
        </div>
        <p id="result"></p>
    {{ form_end(form) }}
{% endblock %}